:root {
    --main-color: #6e27a1;
    --main-font-size: 0.8em;
    --main-size-icon: 20px 20px;
    --main-position-icon: 10px center;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: bisque;
    margin: 0;
}

section#sizeNot {
    position: relative; 
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 20px;
    margin: 50px;
    width: 330px;
    height: 320px;
}


section#sizeNot::before {
    content: "";
    position: absolute;
    top: -15px; 
    left: 75%; 
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-left: 20px solid transparent; 
    border-right: 20px solid transparent; 
    border-bottom: 25px solid white; 
}

header#topoNot {
    display: flex;
    align-items: center;
    position: relative;
    top: 10px;
    gap: 0.5em;
    margin-left: 1em;
    height: 40px;
}

header#topoNot > p {
    font-weight: 500;
}

div#styleNumber {
    text-align: center;
    color: white;
    background-color: var(--main-color);
    border-radius: 50%;
    font-size: var(--main-font-size);
    width: 20px;
}

div.contentNots {
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
}

div.sizeNot {
    display: flex;
    align-items: center;
    border: 1px solid lightgray;
    border-radius: 8px;
    width: 95%;
    height: 100%;
    margin-left: 0.5em;
}

img.imgNot {
    width: 45px;
    height: 35px;
    border-radius: 5px;
}

div.columnNot {
    display: flex;
    flex-direction: column;
}

div.topLine {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

div.topLine > p {
    margin: 0;
    font-size: var(--main-font-size);
}

p.horaNot {
    color: var(--main-color);
    font-size: 0.7em;
    margin-left: 10px;
}

div.columnNot > p:not(.horaNot) {
    font-size: var(--main-font-size);
    margin: 0;
    margin-top: 0.5em;
}

p.styleArroba {
    color: var(--main-color);
}

p.styleText {
    color: lightgrey;
}
