@charset "UTF-8";

body {
    font-family: 'Poppins', sans-serif;
}

:root {
    --main-color: #6e27a1;
    --main-font-size: 0.8em;
    --main-size-icon: 20px 20px;
    --main-position-icon: 10px center;
}

* {
    margin: 0px;
    padding: 0px;
    font-family: var(--main-font);
    box-sizing: border-box;
}

body, html {
    height: 100%;
    width: 100%;
}

div#seusDados {
    display: flex;
    flex-flow: row wrap;
    width: 65%;
    margin-top: 3%;
    margin-left: 9%;
}

form#formInfos {
    display: flex;
    flex-flow: row wrap;
}

div#seusDados > h2 {
    color: var(--main-color);
    font-size: 1em;
    margin-bottom: 2%;
}

div.labelSob {
    display: flex;
    flex-direction: column;
}

div#nie, div#nde, div#telEnd, div#pcf {
    display: flex;
    gap: 2%;
}

input#nome, input#email, input#acad {
    width: 40vw;
}

input#age {
    width: 5vw;
}

input#nUser, input#job {
    width: 20vw;
}

input#dataNasc, input#estCivil, input#tel, input#position, input#acad {
    width: 32.5vw;
}

input#address {
    width: 54vw;
}

label.labelLayout {
    color: var(--main-color);
    font-size: var(--main-font-size);
}

input.padrao {
    margin-bottom: 2%;
    border-radius: 5px;
    border: 1px solid lightgray;
    padding: 5px;
}

::-webkit-scrollbar {
    width: 8px;
    margin-top: 1%;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: lightgray; /* Cor da barra de rolagem */
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

div.feelings {
    display: flex;
    flex-direction: column;
    margin-left: 9%;
}

div.feelings > h3 {
    color: var(--main-color);
    font-size: 0.9em;
    font-weight: 600;
    margin-top: 1.5%;
    margin-bottom: 2%;
}

div.feelings > p {
    font-size: var(--main-font-size);
}

textarea.areaPadrao {
    border: 1px solid lightgrey;
    border-radius: 8px;
    height: 17vh;
}