@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


:root {
    --main-color: #6e27a1;
    --main-font: Poppins;
    --main-font-size: 0.8em;
}

* {
    margin: 0px;
    padding: 0px;
    font-family: var(--main-font);
    box-sizing: border-box;
}


article.cardPerfil {
    display: flex;
    flex-direction: column;
    padding: 1em;
    border: 1px solid lightgray;
    border-radius: 18px;
    width: 92vw;
    margin-bottom: 1em;
    box-shadow: 6px 5px 20px -12px gray;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: var(--main-color); /* Cor da barra de rolagem */
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

div.header {
    display: flex;
    flex-direction: row;
    width: 100%;
}

img.foto {
    border-radius: 15px;
    width: 13%;
}

div.contacts {
    display: flex;
    flex-direction: column;
    font-family: var(--main-font);
    font-size: var(--main-font-size);
    width: 100%;
    margin-left: 1.3em;
}

div.infos {
    display: flex; 
    justify-content: space-between;
}

p.email {
    margin-top: 0.5em;
    color: rgb(172, 168, 168);
}

div.status {
    width: 10vw;
    padding: 0.1em;
    border: 1px solid lightgray;
    border-radius: 15px;
    background-color: rgb(207, 255, 207);
    margin-top: 0.6em;
}

div.status > p {
    font-family: var(--main-font);
    font-size: 1em;
    color: green;
    text-align: center;
}

i.arroba {
    font-family: var(--main-font);
    font-size: 2.5vw;
    font-weight: 400;
    color: var(--main-color);
}

p.code {
    font-family: var(--main-font);
    font-size: 2vw;
    padding: 1px 5px;
    font-weight: 500;
    border: 1px solid var(--main-color);
    border-radius: 1.5vw;
    color: var(--main-color);
    white-space: nowrap;
}

div.footer {
    display: flex;
    flex-direction: column;
}

div.feelings {
    display: flex;
    gap: 1em;
    margin-top: 0.9em;
}

div.feelings > p {
    background-color: #f3e9fa;
    border-radius: 12px;
    padding: 0.1em 0.6em;
    font-weight: 600;
    font-family: var(--main-font);
    font-size: 0.9em;
    color: var(--main-color);
}

img.iconF {
    width: 15px;
    height: 15px;
    vertical-align: middle;
}

img.iconD {
    width: 20px;
}

div.details {
    display: flex;
    flex-direction: column;
    margin-top: 0.6em;
}

div.databox {
    display: flex;
    align-items: center;
    gap: 0.30em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

div.databox > p {
    font-family: var(--main-font);
    font-size: var(--main-font-size);
    color: var(--main-color)
}

div.whoShare {
    display: flex;
    align-items: center;
    gap: 0.5em;
}

p.destino {
    font-size: var(--main-font-size);
}

span.arrobas {
    color: var(--main-color);
}

img.imgShare {
    width: 20px;
}


