@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('../Tela-login/style.css');

:root {
    --main-color: #6e27a1;
    --main-font: Poppins;
    --main-font-size: 0.8em;
    --main-size-icon: 20px 20px;
    --main-position-icon: 2px center;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    width: 100%;
}

div#container {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100%;
    /* Ocupar a altura total da tela */
}

nav#sidebar {
    display: flex;
    flex-direction: column;
    width: 19%;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 1;
}

div#imgOC {
    border-radius: 25px 0px 0px 0px;
    background-color: var(--main-color);
    width: 100%;
    height: 10%;
}

img#logoOC {
    width: 100%;
    /* Ajuste a largura para ficar proporcional */
    padding: 7%;
}

#sidebar ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#sidebar ul li.items {
    font-size: var(--main-font-size);
    margin: 1em;
    color: var(--main-color);
    width: 80%;
    padding: 2vh 2vw;
    cursor: pointer;
}

li#vg {
    background-image: url('../icons/space_dashboard_24dp_6E27A1_FILL1_wght400_GRAD0_opsz24.svg');
    background-repeat: no-repeat;
    background-position: var(--main-position-icon);
    background-size: var(--main-size-icon);
}

li#cc {
    background-image: url('../icons/addBoxP.svg');
    background-repeat: no-repeat;
    background-position: var(--main-position-icon);
    background-size: var(--main-size-icon);
}

li#mc {
    background-image: url('../icons/charListP.svg');
    background-repeat: no-repeat;
    background-position: var(--main-position-icon);
    background-size: var(--main-size-icon);
}

li#rs {
    background-image: url('../icons/insert_chart_24dp_6E27A1_FILL1_wght400_GRAD0_opsz24.svg');
    background-repeat: no-repeat;
    background-position: var(--main-position-icon);
    background-size: var(--main-size-icon);
}

li#vg:hover {
    background-image: url('../icons/dash-white.png');
}

li#cc:hover {
    background-image: url('../icons/add-box-white.png');
    color: white;
}

li#mc:hover {
    background-image: url('../icons/patient-list.png');
    color: white;
}

li#rs:hover {
    background-image: url('../icons/insert-white.png');
    color: white;
}

#sidebar ul li.items:hover {
    background-color: var(--main-color);
    color: white;
    border-radius: 10px;
}

#sidebar hr {
    border: none;
    border-top: 1px solid lightgray;
    margin: 0;
    width: 60%;
}

div#footerDiv {
    background-color: var(--main-color);
    width: 100%;
    height: 4%;
    margin-top: auto;
    border-radius: 0px 0px 0px 20px;
}

div#contentMain {
    display: flex;
    flex-direction: column;
    width: 80%;
    /* Ajustando o tamanho do main */
}

header#cabecaHome {
    display: flex;
    align-items: center;
    background-color: white;
    width: 100%;
}

input#searchHome {
    background-image: url('../icons/lupa.png');
    background-repeat: no-repeat;
    background-size: var(--main-size-icon);
    background-position: 25% center;
    width: 55%;
    height: 3em;
    padding-left: 2.5em;
    /* Para afastar o texto do ícone */
    border: 2px solid rgb(240, 240, 240);
    border-radius: 5px;
    margin-left: 2%;
    margin-top: 0.8%;
}

input#search:focus {
    background-image: none;
}

input[type=checkbox] {
    height: 0;
    width: 0;
    visibility: hidden;
}

label {
    cursor: pointer;
    width: 50px;
    height: 27px;
    background: rgb(185, 185, 185);
    display: block;
    border-radius: 100px;
    position: relative;
    margin-left: 2%;
    margin-top: 1%;
    background-image: url('../icons/brush.png');
    background-repeat: no-repeat;
    background-size: 19px 19px;
    background-position: 10% center;
}

label::after {
    content: '';
    position: absolute;
    top: 3px;
    left: 3px;
    width: 21px;
    height: 21px;
    background: #fff;
    border-radius: 50px;
    transition: 0.3s;
    background-image: url('../icons/brush.png');
    /* Opcional: Ícone adicional, se necessário */
    background-repeat: no-repeat;
    background-size: 15px 15px;
    background-position: center;
    z-index: 1;
    /* Garantir que a bolinha branca esteja acima */
}

input:checked+label {
    background: #6e27a1
}

input:checked+label::after {
    left: calc(100% - 5px);
    /* Ajuste para mover a bolinha branca para a direita */
    transform: translateX(-100%);
}

label:active::after {
    width: 25px;
}

div.notifications {
    position: absolute;
    z-index: 10;
    top: 0;
    right: -119px;
}

div#bell {
    background-image: url('../icons/bell.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: var(--main-size-icon);
    background-color: white;
    width: 25px;
    height: 25px;
    margin-top: 0.5em;
    margin-left: 2em;
    cursor: pointer;
}

section#sizeNot {
    position: relative; 
    display: none;
    flex-direction: column;
    background-color: white;
    border-radius: 20px;
    margin: 50px;
    width: 330px;
    height: 320px;
}


section#sizeNot::before {
    content: "";
    position: absolute;
    top: -15px; 
    left: 75%; 
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-left: 20px solid transparent; 
    border-right: 20px solid transparent; 
    border-bottom: 25px solid white; 
}

header#topoNot {
    display: flex;
    align-items: center;
    position: relative;
    top: 10px;
    gap: 0.5em;
    margin-left: 1em;
    height: 40px;
}

header#topoNot > p {
    font-weight: 500;
}

div#styleNumber {
    text-align: center;
    color: white;
    background-color: var(--main-color);
    border-radius: 50%;
    font-size: var(--main-font-size);
    width: 20px;
}

div.contentNots {
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
}

div.sizeNot {
    display: flex;
    align-items: center;
    border: 1px solid lightgray;
    border-radius: 8px;
    width: 95%;
    height: 100%;
    margin-left: 0.5em;
}

img.imgNot {
    width: 45px;
    height: 35px;
    border-radius: 5px;
}

div.columnNot {
    display: flex;
    flex-direction: column;
}

div.topLine {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

div.topLine > p {
    margin: 0;
    font-size: var(--main-font-size);
}

p.horaNot {
    color: var(--main-color);
    font-size: 0.7em;
    margin-left: 10px;
}

div.columnNot > p:not(.horaNot) {
    font-size: var(--main-font-size);
    margin: 0;
    margin-top: 0.5em;
}

p.styleArroba {
    color: var(--main-color);
}

p.styleText {
    color: lightgrey;
}

div.perfil {
    display: flex;
    flex-direction: row;
    position: relative;
    background-color: #6e27a1;
    height: 10vh; 
    width: 18vw;  
    border-radius: 10px;
    border: 1px solid lightgray;
    margin-top: 1%;
    margin-left: 1.5%;
    box-shadow: 0px 0px 13px rgba(0, 0, 0, 0.103);
    align-items: center; 
}


div.fotoPerfil {
    height: 87%; 
    width: 25%;  
    margin-left: 2%; 
    margin-top: 1.5%;  
    margin-bottom: 1.5%;
    border-radius: 10%; 
    overflow: hidden;
    background-image: url('../imgs/Eduardo-Rodrigues.png'); 
    background-repeat: no-repeat;
    background-size: cover;
}

div.comando {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    margin-left: 1em;
    padding: 4px;
}

div.comando > p {
    color: white;
    font-size: 0.7em;
}

div.expand {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    width: 20px;
    height: 20px;
    cursor: pointer;
}

div.expand img {
    width: 100%; 
    height: 100%;
    margin-left: 1em;
}

div#filtros {
    display: flex;
    flex-direction: row;
    width: 60%;
    margin-top: 1vh;
    margin-left: 5em;
    justify-content: flex-start;
    align-items: center;
    gap: 1em;
}

div#filtros>p {
    font-family: var(--main-font);
    font-size: 0.7em;
    color: var(--main-color);
    text-align: center;
}

.group {
    display: flex;
    align-items: center;
    gap: 0.2em;
    background-color: white;
    border: none;
    border-radius: 10px;
    color: var(--main-color);
    font-size: 0.7em;
    box-sizing: border-box;
    cursor: pointer;
}

img.iconFiltros {
    width: 15px;
}

main {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    justify-content: flex-start;
}

section#peopleCards {
    display: flex;
    flex-direction: column;
    height: 75vh;
    width: 42vw;
    margin: auto;
    margin-left: 5.25em;
    /*margin-top: 1.8em;
    margin-left: 5.8em;*/
}

iframe.iframeBorder {
    border: none;
    width: 42vw;
    overflow-y: scroll;
}

img.iconC {
    width: 40%;
}

aside.infoCards {
    height: 100%;
    display: flex;
    width: 20%;
    margin-right: 4.25em;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;

}

div.header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}

div.cardInfo {
    color: #6e27a1;
    text-align: center;
    width: 100%;
    height: 25%;
    border-radius: 32px;
    margin-top: 5%;
    background-color: white;
    box-shadow: 0px 0px 13px rgba(0, 0, 0, 0.322);
    overflow: hidden;
}

div.layoutP {
    text-align: center;
    height: 20%;
    color: white;
    font-size: 0.8em;
    background-color: #6e27a1;
    padding: 3%;
}

div.values {
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

div.values>p {
    font-family: var(--main-font);
    font-size: 3.8em;
}

div.mark {
    display: flex;
    width: 20vw;
    margin-top: 6%;
    margin-bottom: 4%;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    gap: 15px;
}

div.mark>p {
    font-size: var(--main-font-size);
}

img.logoFL {
    width: 60%;
}

div.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    /* Fundo fosco */
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

section.tamanho {
    display: none;
    width: 450px;
    height: 450px;
    background-color: white;
    border-radius: 15px;
    border-radius: 12px;
}

div.purple {
    width: 40px;
    height: 100%;
    background-color: var(--main-color);
    border-radius: 12px 0px 0px 12px;
}


header#topo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 50px;
}

div#linha>hr {
    width: 100%;
    margin: 0;
}


div.containerGeral {
    display: flex;
    flex-direction: column;
    width: 97%;
}

h1#cabeca {
    color: black;
    font-size: 1.1em;
    margin-left: 10px;
}

p.sizeP {
    font-size: var(--main-font-size);
    margin-top: 2em;
    margin-bottom: 1em;
}

strong#corzinha {
    color: var(--main-color);
}

img#close {
    background-color: rgb(241, 241, 241);
    margin-right: 15px;
    width: 30px;
    height: 30px;
    border-radius: 8px;
}

main.orgContent {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 100%;
    padding: 0px 20px 0px 20px;
    border-radius: 10px;
}

input#search {
    background-image: url('../icons/lupa.png');
    background-repeat: no-repeat;
    background-size: 30px;
    background-position: right;
    padding-left: 10px;
    height: 45px;
    width: 100%;
    border: 1px solid lightgray;
    border-radius: 8px;
}

div.perfilContent {
    display: flex;
    flex-direction: column;
}

div.ordem {
    display: flex;
    align-items: center;
    width: 100%;
}

div#sizeProfiles {
    width: 100%;
    margin-top: 1em;
    margin-bottom: 2em;
}

div.profiles {
    width: 100%;
}

div.layoutPerfil {
    display: flex;
    align-items: center;
    width: 300px;
    height: 50px;
    border: 1px solid lightgrey;
    border-radius: 10px 0px 0px 10px;
    gap: 1em;
}

div.layoutPerfil>p {
    margin: 0;
}

img.sizeImg {
    margin-left: 0.5em;
    border-radius: 10px;
    width: 30px;
}

div.layoutButton {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid lightgray;
    width: 120px;
    padding: 0px 10px;
    height: 50px;
    border-radius: 0px 10px 10px 0px;
}

button.edit {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Poppins';
    font-size: 0.9em;
    background-color: var(--main-color);
    color: white;
    border: none;
    width: 100px;
    height: 35px;
    border-radius: 9px;
    padding: 5px;
}

button.visu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Poppins';
    font-size: 0.9em;
    background-color: white;
    color: var(--main-color);
    border: 1px solid var(--main-color);
    width: 100px;
    height: 35px;
    border-radius: 9px;
    padding: 5px;
}

#frameDel {
    display: none;
    border-radius: 15px;
}

div.dropdown {
    position: relative;
    display: inline-block;
}

div.dropdown-content {
    display: none;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    background-color: white;
    width: 110px;
    height: 100px;
    border-radius: 15px;
    top: 45px;
    right: 5px;
    z-index: 10;
}

.dropdown-content .edit:hover {
    background-color: #381452;
    cursor: pointer;
}

.dropdown-content .visu:hover {
    background-color: lightgray;
    cursor: pointer;
}

div.modalTamanho {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    /* Fundo fosco */
    justify-content: center;
    align-items: center;
}

.selected {
    background-color: #e8c7ff;
    padding: 0.3em 1.25em;
}

div.perfilDrop {
    display: none;
    position: absolute;
    top: 63px;
    right: 0px;
    background-color: white;
    border: 1px solid lightgray;
    border-radius: 10px;
    width: 235px;
    height: 200px;
}

li#Perfil {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 1em;
    margin-top: 1em;
    margin-bottom: 0.5em;
    margin-left: 1em;
    color: var(--main-color);
    font-size: 1em;
}

hr {
  width: 80%;
  margin-left: 1.5em;
}

img#imgDrop {
    border-radius: 8px;
    width: 35px;
    height: 35px;
}

li.listaDrop {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 1em;
    margin-top: 1em;
    margin-bottom: 0.5em;
    margin-left: 1em;
}

a.endDrop {
    text-decoration: none;
}

a.endDrop:visited {
    color: var(--main-color);
}

.menuLink {
    text-decoration: none;
}

.menuLink:hover {
    color: white;
}

div.dropBell {
    position: relative;
}