@charset "UTF-8";

:root {
    --main-color: #6e27a1;
    --main-font-size: 0.8em;
    --main-size-icon: 20px 20px;
    --main-position-icon: 10px center;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: white;
    margin: 0;
}

section.cadSize {
    display: flex;
    width: 800px;
    height: 640px;
    border-radius: 15px;
    background-color: white;
}

div.containerCad {
    width: 100%;
}

div.purple {
    width: 25px;
    background-color: var(--main-color);
    border-radius: 15px 0px 0px 15px;
}

header.topoCad {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header.topoCad > p {
    font-weight: 500;
    margin-left: 1em;
}

header.topoCad > img {
    background-color: rgb(243, 241, 241);
    height: 30px;
    border-radius: 8px;
    margin-right: 1em;
}

div.linhaCad > hr {
    margin: 0;
    margin-left: 1em;
    width: 95%;
}

div#attImg {
    display: flex;
    gap: 1em;
    margin-left: 0.5em;
    margin-top: 1.5em;
}

img#imgCad {
    border: 1px solid var(--main-color);
    background-color: #f5e6ff;
    width: 70px;
    height: 65px;
    border-radius: 10px;
}

div#updateCad {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

button.layoutButtonCad {
    display: flex;
    align-items: center;
    gap: 0.5em;
    font-family: 'Poppins';
    width: 185px;
    background-color: white;
    border: 1px solid lightgray;
    border-radius: 6px;
}

.imgUpCad {
    height: 20px;
}

div#subtitleCad {
    display: flex;
    align-items: center;
    height: 30px;
    gap: 0.5em;
    margin-bottom: 1em;
    margin-top: 1em;
    margin-left: 1em;
}

div#subtitleCad > p {
    font-family: 'Poppins';
    color: var(--main-color);
    font-weight: 500;
}

#formInfosCad {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    margin-left: 1em;
}

div#seusDados > h2 {
    color: var(--main-color);
    font-size: 1em;
    margin-bottom: 2%;
}

div.labelSobre {
    display: flex;
    flex-direction: column;
}

div#nieCad, div#ndeCad, div#telEndCad, div#pcfCad {
    display: flex;
    gap: 2%;
}

input#nome, input#email, input#acad {
    width: 320px;
}

input#age {
    width: 35px;
}

input#nUser, input#job {
    width: 160px;
}

input#dataNasc, input#estCivil, input#tel, input#position, input#acad {
    width: 258px;
}

input#address {
    width: 445px;
}

label.labelLayout {
    color: var(--main-color);
    font-size: var(--main-font-size);
}

.padrao {
    border-radius: 5px;
    border: 1px solid lightgray;
    padding: 5px;
}

div#passCad {
    display: flex;
    flex-direction: column;
    margin-left: 1em;
}

div#passCad > p {
    color: var(--main-color);
    font-weight: 600;
}

div#labelCadPass {
    display: flex;
    flex-direction: column;
}

label#currentPass {
    color: var(--main-color);
    font-size: var(--main-font-size);
}

input#senhaCad {
    width: 200px;
    height: 25px;
    border: 1px solid lightgray;
    border-radius: 6px;
}

div#layoutCheck {
    display: flex;
    margin-top: 1em;
    margin-bottom: 1em;
}

input#checkAdmin[type=checkbox]{
    width: 15px;
    border: 1px solid lightgrey;
}

label#adminCad {
    font-size: var(--main-font-size);
}

button#saveCad {
    display: flex;
    align-items: center;
    gap: 0.5em;
    font-family: 'Poppins';
    font-size: 0.7em;
    margin-top: 1em;
    background-color: var(--main-color);
    border: none;
    color: white;
    margin-left: 1em;
    border-radius: 6px;
    padding: 8px 12px;
}

img#saveAsCad {
    width: 15px;
}

.error {
    border: 1px solid red;
}

.error-message {
    color: red;
    font-size: 12px;
}